/*=============================================
Slide
=============================================*/

:root {
	--amarillo2: #f7a541;
	--amarillo: #ffbc42;
	--primary: #c3b395;
	--light: #eeeeee;
	--dark: #212121;
	--red: #eb3127;
	--dark_fuente_hover: #252627;
	--dark_fuente: #474747;
	--blanco: #f8f5fe;
	--gris: #74747474;
	--gris2: #8c8377;
	--nickel: #6A706E;
}

#slide {
	position: relative;
	margin: auto;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

#slide ul {
	position: relative;
	left: 0%;
	margin: auto;
	height: auto;
	width: 200%;
	clear: both;
	display: table;
}

#slide ul li {
	position: relative;
	float: left;
	width: 50%;
	
}

#slide ul li img {
	width: 100%;
}

#slide .slide_opcion1 img {
	position: absolute;
	opacity: 1;
	top: 15%;
    right: 10%;
    width: 45%;
}

#slide .slide_opcion1 .textos_slide {
	position: absolute;
    width: 40%;
    top: 20%;
    left: 10%;
}

#slide .slide_opcion2 img {
	position: absolute;
	opacity: 1;
	top: 5%;
    left: 15%;
    width: 25%;
}

#slide .slide_opcion2 .textos_slide {
	position: absolute;
	text-align: right;
    width: 40%;
    top: 15%;
    right: 15%;
}

#slide .slide_opciones h1 {
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Dosis', sans-serif;
	opacity: 1;
	top: -10%;
	color: var(--dark);
}

#slide .slide_opciones h3 {
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
	opacity: 1;
	top: -10%;
	color: var(--dark_fuente);
}

#slide .slide_opciones h4{
    text-transform:uppercase;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    opacity: 1;
    top: -10%;
	color: var(--nickel);

}

#slide .slide_opciones button {
	border: 0px;
    margin-top: 10px;
    padding: 10px;
    opacity: 1;
    top: -10%;
}

#slide .slide_opciones button:hover {
	background: var(--dark);
	color: var(--blanco);
	border: 2px solid;
}

#slide .slide_opciones button span {
	margin-left: 10px;
}
